/* FOOTER */

footer{
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 2px;
    margin-top: 1%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    opacity: 0.6;

}
/*
footer{
    background-color: rgba(5, 5, 5, 0.6);
    color: rgba(252, 21, 21, 0.7);
    padding: 15px 0px 0px 0px;
    text-align: right;
    font-style: italic;
}*/

