/* LEYENDAS */

.leyend{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a1 a2 a3"
                            "a4 a5 a6";
    grid-gap: 25px;
    align-items: end;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 120px;
    opacity: 0.85;
}

#ali{
    grid-area: a1;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

#floyd{
    grid-area: a2;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

#sugar{
    grid-area: a3;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}


#rocky{
    grid-area: a4;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

#tyson{
    grid-area: a5;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

#pacman{
    grid-area: a6;
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

@media only screen and (max-width:800px){
    .leyend{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:    "a1"
                                "a2"
                                "a3"
                                "a4"
                                "a5"
                                "a6";
        margin: 30px 20px 25px 20px;
    }

    #ali{
        grid-area: a1;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
    
    #floyd{
        grid-area: a2;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
    
    #sugar{
        grid-area: a3;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
    
    
    #rocky{
        grid-area: a4;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
    
    #INSERTAR LEYENDA{
        grid-area: a5;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
    
    #pacman{
        grid-area: a6;
        border-radius: 4px;
        height: 650px;
        width: 250px;
    }
}