/* LEYENDAS */

.leyend{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "a1 a2 a3"
                            "a4 a5 a6";
    grid-gap: 25px;
    align-items: end;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 120px;
    opacity: 0.85;
}

%estiloley{
    border-radius: 4px;
    height: 650px;
    width: 250px;
}

#ali{
    grid-area: a1;
    @extend %estiloley;
}

#floyd{
    grid-area: a2;
    @extend %estiloley;
}

#sugar{
    grid-area: a3;
    @extend %estiloley;
}


#rocky{
    grid-area: a4;
    @extend %estiloley;
}

#tyson{
    grid-area: a5;
    @extend %estiloley;
}

#pacman{
    grid-area: a6;
    @extend %estiloley;
}

@media only screen and (max-width:800px){
    .leyend{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:    "a1"
                                "a2"
                                "a3"
                                "a4"
                                "a5"
                                "a6";
    }
}