@import "menu";
@import "footer";
@import "animaciones";
@import "leyendas";

/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    width: auto;
    background-image: url(../img/ladrillos1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: blanchedalmond;
}

h1{
    text-align: right;
    color: goldenrod;
    text-shadow: 5px 3px 4px rgb(77, 74, 74);
    opacity: 0.8;
    font-style: italic;
    text-align: right;
}

h2{
    font-style: italic;
}

#banner{
    height: 244px;
    width: 100%;
}

/* INICIO */

section{
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "a1 a2"
                            "a3 a4"
                            "a5 a6"
                            "a7 a8";
    grid-gap: 5px;
    align-items: start;
    justify-content: space-evenly;
    margin: 25px 50px 40px 50px;
}

%imagenes{
    width: 250px;
    height: 225px;
    border: 2px solid rgb(231, 202, 202);
}

%noticia{
    border: 1px dotted;
    border-radius: 4px;
    color: rgb(231, 191, 88);
    text-shadow: 1px 2px 5px black;
}


        /* Noticia 1*/

#foto1{
    @extend %imagenes;
    grid-area: a1;
}

#noti1{
    @extend %noticia;
    grid-area: a2;
}


        /* Noticia 2*/

#foto2{
    @extend %imagenes;
    grid-area: a3;
}

#noti2{
    @extend %noticia;
    grid-area: a4;
}


        /* Noticia 3 */

#foto3{
    @extend %imagenes;
    grid-area: a5;
}

#noti3{
    @extend %noticia;
    grid-area: a6;
}


        /* Noticia 4 */

#foto4{
    @extend %imagenes;
    grid-area: a7;
}

#noti4{
    @extend %noticia;
    grid-area: a8;
}

/* PRÓXIMAS PELEAS */


%proxpeleas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 45px;
    margin-top: 15px;
    color: goldenrod;

    dt{
        color: white;
        font-weight: bolder;
        font-style: italic;
        text-indent: 100px;
        background-color: rgb(255, 0, 0);
        opacity: 0.4;
        font-size: x-large;
        text-align: left;
    }

    .pp_tit{
        font-style: italic;
        font-weight: bold;
        margin-bottom: 25px;
        margin-top: 0px;
        color: white;
        text-align: center;
    }

    dd{
        opacity: 1;
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.pp_sept{
    @extend %proxpeleas;
}

.pp_oct{
    @extend %proxpeleas;
}

.pp_nov{
    @extend %proxpeleas;
}

.pp_dic{
    @extend %proxpeleas;
    margin-bottom: 100px;
}


/* COMBATES HISTORICOS */


.comb_his{
    text-align: center;
    
}

.parrafoch{
    border: 1px dashed;
    border-radius: 5px;
    text-align: justify;
    color: coral;
}

.tituloch{
    font-weight: bold;
    font-style: italic;
    color: goldenrod;
}





/*
.grid_ly{
    
    display: flex;
    opacity: 0.6;
    font-size: large;
    text-align: center;
    justify-content: space-around;
}

.ly1{
    
    align-items: center;
    width: 65%;
}

.tituloly{
    font-style: italic;
    text-align: center;
    align-items: center;
    align-content: center;
    color:red;
    background-color: black;
} 

.imgly{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;

}

.parrafoly{
    
    float: inline-end;
    text-align: justify;
    margin: 5%;
    height: 100%;
    
}

*/



/* CONTACTO */

.tituloform{
    text-align: left;
}

form{
    width: 350px;
    min-height: 450px;
    margin: 30%;
    padding: 50px 90px;
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 7px;
   margin-bottom: 0px
}

label{
    color: rgb(243, 216, 63);
}





/* MEDIA QUERIE */

@media only screen and (max-width:750px){


/* ESTILOS GENERALES */
    
h1{
    opacity: 1;
    font-size: 25px;
    color: goldenrod;
    text-shadow: 5px 3px 4px rgb(77, 74, 74);
    text-align: center;
}

h2{
    font-size: large;
}

footer{
    width: 100%;
}

/* INICIO */
    
    section{
    
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: space-evenly;
        margin: 30px 20px 25px 20px;
    
    }
    
    
    #foto1{
    
        width: 100%;
        height: 60%;
        margin-top: 25px;
    }

    p #noti1{
    
        width: 100%;
        height: 49%;
        margin: 5px;
    }

    #foto2{
    
        width: 100%;
        height: 60%;
        margin-top: 35px;
    }

    p #noti2{
    
        width: 100%;
        height: 49%;
    }

    #foto3{
    
        width: 100%;
        height: 60%;
        margin-top: 35px;
    }

    p #noti3{
    
        width: 100%;
        height: 49%;
    }

    #foto4{
    
        width: 100%;
        height: 60%;
        margin-top: 35px;
    }

    #noti4{
    
        width: 100%;
        height: 49%;
        margin-bottom: 50px;
    }

/* CONTACTO */

form{
    margin: 0 auto;
    }
    
/* PROXIMAS PELEAS */

.titulopp{
    
    font-size: 20px;
}

/* COMBATES HISTORICOS */

#comh{
    display: flex;
    flex-wrap: wrap;
}
    

}

@media only screen and (max-width:1115px){

#comh{
    display: flex;
    flex-wrap: wrap;
}

}


